@font-face {
font-family: Dirty;
src: url(Dirtyline\ 36daysoftype\ 2022.otf);
}


@font-face {
font-family: Apfel;
src: url(ApfelGrotezk-Regular.woff);
}


section{
    float: left;
    width: 33%;
    margin-top: 10px;
}

h1{
    text-align: center;
    font-family: Dirty;
    font-size: 35px;
}


.row {
    width: 100%;
}

div{
    font-family: Apfel;
}

.cell{
    border: 1px solid black;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom: 4px;
}

.item{
    border: 1px solid black;
    float: right;
    margin: -1px;
    width: 140px;
    font-size: 25px;
    text-align: center;
}

p{
    float: left;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}



@media (min-width: 992px){

}

@media (min-width: 768px) and (max-width: 991px){

.col-md-6{
    width: 50%;
}

.col-md-12{
    width: 100%
}

}

@media (max-width: 767px){

.col-sm-12{
    width: 100%
}

}